body {
    font-family: "Poppins";
    background-color: hsl(200, 6%, 10%);
    margin: 0;
    padding: 0;
    

}

.container {
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.container h1 {
    font-size: 36px;
    margin: 0 0 20px;
    align-self: center;
}

.container p {
    font-size: 18px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container ul li {
    margin: 10px 0;
    text-align: left;
}

.container iframe {
    align-self: center;
    width: 50%;
    height: 500px;
    border: none;
}
